.bt-whatsApp {
    
    width:60px;
    height:60px;
    bottom:10px;
    right:10px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000
}

.bt-whatsApp:hover {
    scale:1.2;
    border: 1px solid white;
    cursor:pointer;
    color: white;
   }

.zapButtonIcon {
    margin-top:16px
}