.list-contatos {
    list-style: none;
    display:flex;
    background-color:green;

}

.list-contatos li {
    padding:10px;  
    border:1px solid black
}

.list-contatos li:hover {
    padding:10px;  
    border:1px solid rgb(255, 255, 255);
    background-color:rgb(0, 73, 22);
    color:white;
    text-decoration:solid;
    cursor:pointer;
}
.list-contatos a {
   text-decoration: none;
    color:black;
}
