.img-profile {
    width:320px;
    height:300px;
   border-radius: 50%;
   border: 2px black solid;
}
.hide-desktop{
    display:none;
}
.container-profile-image {
    display: flex;
    flex-direction: column;
    text-align: center;
    width:20%;
    margin-left: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
   
}  

@media (max-width: 1216px) {
    


    .hide-desktop{
        display:block;
        font-style: italic;
        font-weight: 400;
        font-size: 20pt;

    }
    .container-profile-image {
        margin-left: 0px;
        margin-bottom: 10px;
        width: auto;
    }  

    .img-profile {
        width:350px;
        height:350px;
       border-radius: 50%;
       border: 2px black solid;
       margin: 10px;
       margin-top: 120px
    }
    .title-profile {
        display: none;
    }

}