 * {
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
 }

 .container-main {
    width: 100%;
    height: 100vh;  
    padding: 0;
    margin: 0 ;
 }
 .container-buttons{
    display: flex;
    flex-direction: row;
    position:fixed;
    bottom:10px;
    left:50%;
    transform: translate(-50%,0%);
    background-color:rgba(0, 0, 0, 0.164)(255, 255, 255);
 }

 .container-space {
    display: none;
 }
 



@media (max-width: 1216px) {
  .App {
   height: 2100px;
  }
}

